.post-expand {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height:100vh;
    position:relative;
}

.post-detail {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.comments {
    width:90%
}
.comment-input {
    position: absolute;
    display: inline-block;
    width:100%;
    bottom:0;
}

.delete {
    width:85%;
    display:flex;
    align-items: center;
    justify-content: center;

    button {
        width:100%;
        background:none;
        border:none;
        background-color:#F4AC45;
        padding:8px 0px;
        font-family: 'Lato', sans-serif;
    }
}