.post-expand {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height:100vh;
    position:relative;
}

.post-detail {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.comments {
    width:90%
}
.comment-input {
    position: fixed;
    display: inline-block;
    width:100%;
    bottom:0;
}